@tailwind base;
@tailwind components;
@tailwind utilities;

.max-screen {
  @apply max-w-1440 mx-auto px-100 sm:px-50;
}

.hr-b {
  @apply border-b border-gray border-solid;
}
.card-link {
  @apply text-primary font-nunito-bold tracking uppercase text-sm underline;
}

.hr-form-t {
  @apply border-t border-gray-lighter border-solid;
}

.admin-h1 {
  @apply text-2xl text-secondary tracking-wider font-avenir-reg font-medium uppercase;
}

.admin-h2 {
  @apply text-xl text-secondary tracking-wider font-avenir-reg font-medium uppercase;
}

.admin-label--light {
  @apply text-sm text-secondary tracking font-nunito-light;
}

.admin-des {
  @apply text-sm text-secondary font-nunito-light;
}

.admin-label {
  @apply text-sm text-secondary tracking font-nunito-bold  uppercase;
}

.footer-links {
  @apply font-nunito-light text-secondary text-lg capitalize leading-9 sm:text-sm;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.bg-instagram {
  background: #c32aa3 !important;
}

.bg-facebook {
  background: #3b5998 !important;
}

.heading {
  @apply font-avenir-reg font-medium text-base uppercase tracking-wider leading-55 text-secondary mb-4;
}

.mockup-right-arrow {
  right: 111px;
  position: absolute;
  bottom: 96px;
}
.slick-disabled {
  display: none;
}

.mockup-left-arrow {
  position: absolute;
  left: 111px;
  bottom: 96px;
  z-index: 1;
  transform: rotate(180deg);
}

.animation {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.w3-animate-top {
  animation: fadeInDown 1s ease-in;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translatey(10px);
    -moz-transform: translatey(10px);
    -o-transform: translatey(10px);
    transform: translatey(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
  }
}

.link {
  @apply cursor-pointer;
}
.vh-96 {
  height: 97vh;
}
.slider-arrow .slick-arrow {
  @apply sm:hidden !important;
}

.transform-x {
  transform: translate(-50%, 0);
}

.transform-y {
  transform: translate(0, -50%);
}

.transform-xy {
  transform: translate(-50%, -50%);
}

.gray {
  @apply bg-gray text-secondary;
}

.gray-dim {
  @apply bg-gray-dim text-secondary-dim;
}
.gray-light {
  @apply bg-gray-light text-secondary-light;
}

.primary-btn {
  @apply font-bold bg-primary text-white tracking shadow text-sm;
}

.secondary-btn {
  @apply bg-secondary text-white font-bold tracking shadow text-sm;
}

.gray-btn {
  @apply font-bold text-secondary tracking shadow text-sm;
}

/* STEP BAR STYLES */
.progress__container:before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #d6d6d6;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

/* Slider Styles */
.mockup-right-arrow .slick-arrow .slick-next .slick-disabled ::before {
  display: none;
  opacity: 0;
}
.slider-dots .slick-dots li button:before {
  font-size: 10px;
}
.packages-slider-2 .slick-slide {
  margin: 10px !important;
}

.packages-slider .slick-slider .slick-list .slick-track .slick-active {
  transition: all ease 0.4ms !important;
}

.packages-slider .slick-slider .slick-list .slick-track .slick-active {
  margin-top: -20px !important;
}

.checkbox-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

/* Create a custom checkbox */

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
  left: 5px;
  top: -1px;
  width: 6px;
  height: 14px;
  border: solid #c71118;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Radio Button Styles */

.radio-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

/* Create a custom radio button */

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
  background-color: wihte;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4a4949;
}

/* Popover style */
.message:before {
  content: '';
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 20px solid #fff;
  position: absolute;
  top: -15px;
  left: 10px;
}
.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  min-height: 100px;
}

.wall-mount {
  width: 54.82px;
  height: 35.14px;
}

.frame-image {
  overflow: hidden;
}
.frame-image .zoom-img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.frame-image .zoom-img:hover {
  height: 100%;
  width: 100%;
}
/*style the arrow inside the select element:*/
.custom-arrow:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-color: #000 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

/* range slider styles */

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply w-25 h-30 rounded-50% bg-primary cursor-pointer shadow-4xl;
}
.range2::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply xl:w-8% lg:w-9% sm:w-9% w-7%  h-3 rounded-50% bg-secondary cursor-pointer shadow-5xl;
}

svg.fill-primary {
  fill: #c71118 !important;
}

svg.stroke-primary {
  stroke: #c71118 !important;
  fill: transparent !important;
}

svg.fill-white {
  fill: #fff !important;
}

svg.stroke-white {
  stroke: #fff !important;
  fill: transparent !important;
}

.gridView {
  columns: 2;
  column-gap: 12px;
}

.gridView-3 {
  columns: 3;
  column-gap: 12px;
}

.gridView-4 {
  columns: 4;
  column-gap: 12px;
}

.scroll-bar::-webkit-scrollbar {
  width: 4px;
}

.scroll-bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

@layer base {
  @font-face {
    font-family: 'nunito-light';
    src: local('Nunito-Light'),
      url('../src/fonts/Nunito-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'nunito-regular';
    src: local('Nunito-Regular'),
      url('../src/fonts/Nunito-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'nunito-semibold';
    src: local('Nunito-SemiBold'),
      url('../src/fonts/Nunito-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'nunito-bold';
    src: local('Nunito-Bold'),
      url('../src/fonts/Nunito-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'avenir-black';
    src: local('Avenir-Black'),
      url('../src/fonts/Avenir-Black.otf') format('truetype');
  }
  @font-face {
    font-family: 'avenir-book';
    src: local('Avenir-Book'),
      url('../src/fonts/Avenir-Book.otf') format('truetype');
  }
  @font-face {
    font-family: 'avenir-roman';
    src: local('Avenir-Roman'),
      url('../src/fonts/Avenir-Roman.otf') format('truetype');
  }
}

.stockroom__images {
  min-height: 200px;
  min-width: 200px;
}
.custom-search:focus {
  outline: none;
  border-bottom: solid 1px #c71118;
  background-color: white;
  transition: 0.4s;
}

.custom-bg {
  background-color: #c71118;
  color: white;
}

.select-item:hover {
  background-color: #c71118;
  color: #fff;
}
