@tailwind base;
@tailwind components;
@tailwind utilities;

.max-screen {
  @apply max-w-1440 mx-auto px-100;
}
.footer-links {
  @apply font-nunito-light text-secondary text-lg capitalize leading-9;
}

.w-fit {
  width: fit-content;
}

.bg-instagram {
  background: #c32aa3 !important;
}

.bg-facebook {
  background: #3b5998 !important;
}

.heading {
  @apply font-avenir-reg font-medium text-base uppercase tracking-wider leading-55 text-secondary mb-4;
}

.link {
  @apply cursor-pointer;
}
.vh-96 {
  height: 97vh;
}
.slider-arrow .slick-arrow {
  @apply sm:hidden !important;
}

.transform-x {
  transform: translate(-50%, 0);
}

.transform-y {
  transform: translate(0, -50%);
}

.transform-xy {
  transform: translate(-50%, -50%);
}

.gray {
  @apply bg-gray text-secondary;
}
.gray-dim {
  @apply bg-gray-dim text-secondary-dim;
}
.gray-light {
  @apply bg-gray-light text-secondary-light;
}

.primary-btn {
  @apply font-bold bg-primary text-white tracking shadow text-sm;
}

.gray-btn {
  @apply font-bold text-secondary tracking shadow text-sm;
}

/* STEP BAR STYLES */
.progress__container:before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #d6d6d6;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

/* Slider Styles */

.slider-dots .slick-dots li button:before {
  font-size: 10px;
}

.checkbox-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

/* Create a custom checkbox */

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
  left: 5px;
  top: -1px;
  width: 6px;
  height: 14px;
  border: solid #c71118;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.textfield input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type='number'] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

/* Radio Button Styles */

.radio-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

/* Create a custom radio button */

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
  background-color: wihte;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4a4949;
}

/* Popover style */
.message:before {
  content: '';
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 20px solid #fff;
  position: absolute;
  top: -15px;
  left: 10px;
}
.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/*style the arrow inside the select element:*/
.custom-arrow:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-color: #000 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

/* range slider styles */

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply w-25 h-30 rounded-50% bg-primary cursor-pointer shadow-4xl;
}

@layer base {
  @font-face {
    font-family: 'nunito-light';
    src: local('Nunito-Light'),
      url('../src/fonts/Nunito-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'nunito-regular';
    src: local('Nunito-Regular'),
      url('../src/fonts/Nunito-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'nunito-semibold';
    src: local('Nunito-SemiBold'),
      url('../src/fonts/Nunito-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'nunito-bold';
    src: local('Nunito-Bold'),
      url('../src/fonts/Nunito-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'avenir-black';
    src: local('Avenir-Black'),
      url('../src/fonts/Avenir-Black.otf') format('truetype');
  }
  @font-face {
    font-family: 'avenir-book';
    src: local('Avenir-Book'),
      url('../src/fonts/Avenir-Book.otf') format('truetype');
  }
  @font-face {
    font-family: 'avenir-roman';
    src: local('Avenir-Roman'),
      url('../src/fonts/Avenir-Roman.otf') format('truetype');
  }
}
